body{
    /* overflow-x: hidden; */
    overflow-y: hidden; 
    font-family: 'Poppins-Medium';
}

.user-profile{
    width: 47px;
    height: 47px;
    border-radius: 100%;
    padding: 15px;
}

.left-div{
    height: 700px;
    /* background-color: rgba(36, 39, 73, 0.904); */
    background-color: #192029;
    font-family: Poppins-Medium ;
}

.left-div h3{
    margin-left: 20px;
    color: #fff;
    font-family: Poppins-Medium;
}

.left-upper-div{
    display: flex;
}

.left-upper-div span{
    margin-top: 28px;
    color: #fff;
    font-size: 18px;
    font-family: Poppins-Medium;
}

.left-lower-div{
    height: 100%;
    overflow-y: auto;
}

.left-lower-div ul{
    padding: 0px;
}

.left-lower-div ul button{
    color: #fff;
    background-color: #192029;
    border-bottom: 2px solid #6ccff7;
    border-top: 2px solid #6ccff7;
    font-family: Poppins-Light;
    border-left: 0px;
}

.left-lower-div ul button:hover{
    background-color: #30c7fd;
    color: #333;
    font-family: Poppins-Medium;
    cursor: pointer;
    transition: .3s;
}

.left-lower-div ul  button:focus{
    outline: none;
}

.left-lower-div ul li{
    height: 55px;
    list-style-type: none;
    display: list-item;
    width: 350px;
}

.left-lower-div ul img{
    margin-top: 6px;
    width: 45px;
    height: 45px;
    border-radius: 100%;
}

.left-lower-div ul span{
    margin-left: 10px;
    font-size: 18px;
    margin-top: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.right-div{
    width: 100%;
    position: relative;
    /* background-color: rgb(228, 226, 226); */
    background-color: #BDC0C3;
    /* background-image: url(../../images/chatBackground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; */
}

.user-content{
    height: 80px;
    float: left;
    width: 100%;
    z-index: 10;
}

.user-content-div{
    display: flex;
    background-color: #fff;
    border-radius: 40px;
}
.user-content img{
    width: 60px;
    height: 60px;
    border-radius: 100%;
    padding: 10px;
    margin-top: 0px;
}

.user-content span{
    margin-top: 30px;
    font-size: 20px;
    color: #303030;
}

.chat-content{
    position: absolute;
    bottom: 0;
    right: 1;
    margin-bottom: 60px;
    width: 95%;
    z-index: 9;
}

.chat-content ul{
    list-style-type: none;
    padding: 0px 40px;
    width: 94%;
}

.chat-content li{
    margin-top: 13px;
}

.chat-content span{
    max-width: 200px;
    padding: 5px;
    font-size: 16px;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
}

.input-things{
    background-color: #fff;
    width: 100%;
    height: 60px;
    margin-left: 20px;
    border-radius: 50px;
}

.input{
    margin-top: 20px;
    margin-left: 40px;
    width: 90%;
}

.input-things button{
    width: 40px;
    height: 30px;
    border: 0px solid;
    background-color: #fff;
}

.input-things button i{
    font-size: 20px;
    color: rgba(21, 27, 87, 0.904) ;
}

.input-things button:hover{
    cursor: pointer;
}

.not-selected-div1 img{
    margin-top: 10%;
    border-radius: 100%;
    width: 250px;
    height: 230px;
}

.not-selected-div1 p{
    font-size: 28px;
}

.not-selected-div1 span{
    color: rgb(133, 130, 130);
}